@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* theme  */

.theme-primary-background{
    background-color:  #01579b !important;
}
.theme-primary-background-light{
    background-color: #4f83cc !important;
}
.theme-primary-background-dark{
    background-color: #002f6c !important;
}
.theme-color-dark{
    color: #002f6c !important;
}


/* theme  */


.font-family-poppins {
    font-family: 'poppins';
}

.text-center {
    text-align: center;
}
.z-index-high {
    z-index: 999;
}

.z-index-below {
    z-index: -1;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.top-0 {
    top: 0;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  

.position-relative {
    position: relative !important;
}

.position-fixed{
    position: fixed!important;
}
.position-absolute {
    position: absolute !important;
}

.text-transform-uppercase {
    text-transform: uppercase;
}
.text-transform-capitalize {
    text-transform: capitalize;
}

.text-transform-none {
    text-transform: none;
}
.width-100 {
    width: 100%;
}

.padding-left-4 {
    padding-left: 4px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-right-4 {
    padding-right: 4px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

.padding-left-12 {
    padding-left: 12px;
}

.padding-right-4 {
    padding-right: 4px;
}

.padding-right-12 {
    padding-right: 12px;
}

.padding-left-16 {
    padding-left: 16px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-24 {
    padding-left: 24px !important;
}

.padding-left-28 {
    padding-left: 28px;
}

.padding-right-16 {
    padding-right: 16px !important;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-24 {
    padding-right: 24px !important;
}

.padding-right-28 {
    padding-right: 28px;
}

.padding-left-32 {
    padding-left: 32px !important;
}

.padding-right-32 {
    padding-right: 32px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-top-32 {
    padding-top: 32px;
}

.padding-top-16 {
    padding-top: 16px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-top-12 {
    padding-top: 12px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-24 {
    padding-top: 24px !important;
}

.padding-top-64 {
    padding-top: 64px;
}

.padding-bottom-12 {
    padding-bottom: 12px !important;
}

.padding-bottom-16 {
    padding-bottom: 16px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-64 {
    padding-bottom: 64px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-left-48 {
    padding-left: 48px !important;
}

.padding-right-48 {
    padding-right: 48px;
}

.padding-bottom-48 {
    padding-bottom: 48px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-left-64 {
    padding-left: 64px;
}

.padding-left-72 {
    padding-left: 72px;
}

.padding-right-72 {
    padding-right: 72px;
}

.padding-right-60 {
    padding-right: 60px;
}

.padding-right-64 {
    padding-right: 64px;
}

.padding-4 {
    padding: 4px;
}

.padding-8 {
    padding: 8px;
}

.padding-12 {
    padding: 12px !important;
}

.padding-16 {
    padding: 16px !important;
}

.padding-24 {
    padding: 24px;
}

.padding-20 {
    padding: 20px;
}

.padding-32 {
    padding: 32px !important;
}

.padding-44 {
    padding: 44px;
}

.padding-left-8 {
    padding-left: 8px !important;
}

.padding-right-8 {
    padding-right: 8px !important;
}

.padding-left-64 {
    padding-left: 64px;
}

.padding-right-64 {
    padding-right: 64px;
}

.padding-64 {
    padding: 64px;
}

.padding-right-none {
    padding-right: 0 !important;
}

.padding-left-none {
    padding-left: 0 !important;
}

.padding-bottom-none {
    padding-bottom: 0 !important;
}

.padding-top-none {
    padding-top: 0 !important;
}

.padding-none {
    padding: 0 !important;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-bottom-4 {
    margin-bottom: 4px;
}

.margin-left-4 {
    margin-left: 4px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-left-24 {
    margin-left: 24px;
}

.margin-right-24 {
    margin-right: 24px;
}

.margin-right-32 {
    margin-right: 32px;
}
.margin-right-40 {
    margin-right: 40px;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-12 {
    margin-left: 12px;
}

.margin-right-12 {
    margin-right: 12px;
}

.margin-bottom-12 {
    margin-bottom: 12px;
}

.margin-top-12 {
    margin-top: 12px;
}

.margin-top-16 {
    margin-top: 16px !important;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-28 {
    margin-top: 28px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-right-16 {
    margin-right: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-left-16 {
    margin-left: 16px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-32 {
    margin-left: 32px;
}

.margin-top-32 {
    margin-top: 32px !important;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-42 {
    margin-bottom: 42px;
}

.margin-left-64 {
    margin-left: 64px;
}

.margin-right-64 {
    margin-right: 64px;
}

.margin-bottom-64 {
    margin-bottom: 64px;
}

.margin-32 {
    margin: 32px;
}

.margin-16 {
    margin: 16px;
}

.margin-4 {
    margin: 4px;
}

.margin-8 {
    margin: 8px;
}

.margin-12 {
    margin: 12px;
}

.margin-top-none {
    margin-top: 0;
}

.margin-left-none {
    margin-left: 0;
}

.margin-right-none {
    margin-right: 0 !important;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-none {
    margin: 0;
}

.white-space-nowrap{
    white-space: nowrap;
}

.box-shadow-default {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
        rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
        rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

.box-shadow-none {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.box-shadow-light {
    box-shadow: 0px 0px 10px rgba(83, 97, 110, 0.5) !important;
    -moz-box-shadow: 0px 0px 10px rgba(83, 97, 110, 0.5) !important;
    -webkit-box-shadow: 0px 0px 10px rgba(83, 97, 110, 0.5) !important;
}

.box-shadow-medium {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 4px, rgba(0, 0, 0, 0.12) 0 1px 1px !important;
}

.box-shadow-dark {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

.box-shadow-cards {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 20px,
        rgba(0, 0, 0, 0.16) 0px 20px 31px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 20px,
        rgba(0, 0, 0, 0.16) 0px 20px 31px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 20px,
        rgba(0, 0, 0, 0.16) 0px 20px 31px !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.border-radius-none {
    border-radius: 0px !important;
}
.border-radius-circle {
    border-radius: 50px !important;
}
.border-none{
    border: none!important
}
.background-none{
    background: none!important;
}

.close-modal-icon {
    background-color: #ffffff !important;
    padding: 0 !important;
    right: 10px;
    top: 10px;
    z-index: 10;
    height: 35px !important;
    width: 35px !important;
    transform: translate(50%, -50%);
}
.close-modal-icon svg {
    color: #212121 !important;
    fill: #212121 !important;
}

.font-bold{
    font-weight: bold !important
}

.my-masonry-grid {
    display: flex;
    width: auto; 
}
  
.my-masonry-grid_column {
    background-clip: padding-box; 
}

.my-masonry-grid_column > div {
    background: #fff; 
}

.font-8 {
    font-size: 8px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px !important;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px !important;
}

.Toastify__toast-body {
    color: black!important
}

form fieldset {
    border: 0;
    padding: 0;
}
form fieldset fieldset {
    padding: 0;
}

form .template1 select {
    width: 100%;
    height: 44px;
    font-size: 16px;
    border: 1px solid #979797;
    outline: none;
    border-radius: 0px;
}

form .template1 input[type='text'],
form .template1 input[type='number'],
form .template1 textarea {
    font-family: 'Poppins';
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #979797;
    outline: none;
    box-sizing: border-box;
    border-radius: 0px;
    resize:none!important;
}

form .template1 input {
    border-radius: 0px !important;
}

form .template1 label {
    display: block;
    margin-bottom: 8px;
}

form .template1 label.radio-inline {
    display: inline-block;
    margin-right: 16px;
    text-transform: capitalize;
}

form .template1 input[type='radio'],
form .template1 input[type='checkbox'] {
    margin-right: 8px;
    vertical-align: top;
}

form .template1 .array-item {
    padding: 16px 12px;
    border: 1px solid #d7d7d7;
    margin-top: 16px;
}
form .template1 .array-item input {
    margin-bottom: 16px;
}

form .template1 .btn-add,
form .template1 .array-item-remove,
form .template1 .array-item-move-up,
form .template1 .array-item-move-down {
    width: 100%;
    padding: 8px;
    outline: 0;
    font-size: 14px;
    border-radius: 0px;
}

form .template1 .btn-add::after {
    content: 'Add';
}

form .template1 .array-item-move-up::after {
    content: 'Move Up';
}

form .template1 .array-item-move-down::after {
    content: 'Move Down';
}

form .template1 .array-item-remove::after {
    content: 'Remove';
}

form .template1 i.glyphicon {
    display: none;
}

form .template1 .error-detail {
    color: red;
}

form .floatingTextAreaTemplate.floatingTemplate label {
    top: 20px;
}

form .floatingTemplate {
    position: relative;
}
form .floatingTemplate input {
    margin-bottom: 0 !important;
}
form .floatingTemplate textarea {
    resize: none !important;
    height: 100px !important;
}
form .floatingTemplate label {
    position: absolute;
    padding: 0 0;
    transform: translateY(-50%);
    top: 50%;
    display: inline-block;
    width: auto;
    left: 10px;
    transition: 0.2s !important;
    background: transparent;
    color: gray;
    margin-bottom: 0;
    letter-spacing: 0;
}
form .floatingTemplate .focused label {
    transform: translateY(-50%);
    top: 0;
    font-size: 12px;
    transition: 0.2s !important;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}
form .floatingTemplate .focused.red input,
form .floatingTemplate .focused.red textarea {
    border-color: red;
}
form .floatingTemplate .focused.red label {
    color: red;
}
form .floatingTemplate .focused.blue input,
form .floatingTemplate .focused.blue textarea {
    border-color: #1e88e5;
}
form .floatingTemplate .focused.blue label {
    color: #1e88e5;
}
form .floatingTemplate .focused.teal input,
form .floatingTemplate .focused.teal textarea {
    border-color: #00695c;
}
form .floatingTemplate .focused.teal label {
    color: #1e88e5;
}
form .floatingTemplate input,
form .floatingTemplate textarea {
    display: block;
    width: 100%;
    padding: 12px !important;
    font-size: 16px;
    border: 1px solid #979797;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px;
}

.cursor-pointer{
    cursor: pointer;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell !important;
}

.display-inline-table {
    display: inline-table;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}

.color-white{
    color: white!important;
}
.color-black{
    color: #000!important;
}
.float-right{
    float: right;
}
.border-radius-circle{
    border-radius: 50px
}
.border-radius-small {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
  

.ribbon {
    position: absolute;
    top: 0px;
    padding: 0 28px;
    z-index: 1;
    font-size: 16px;
    line-height: 2.5;
    right: -6px;
}

.ribbon .ribbon-text-before {
    content: '';
    font-size: 0.5em;
    position: absolute;
    border-style: solid;
    border-color: #fdffae transparent transparent #fdffae;
    top: 4.6em;
    right: 0;
    border-width: 1.4em -0.2em 1em 1.4em;
    z-index: -1;
    opacity: 0.64;
}

.ribbon .ribbon-text-after {
    content: '';
    font-size: 0.5em;
    position: absolute;
    height: 0;
    right: 0;
    border: 2em solid #fdffae;
    z-index: -1;
    top: 0.6em;
    border-top-width: 2em;
    border-left-color: transparent;
    left: -1.4em;
}

.ribbon .ribbon-text-before.ribbon-high-priority{
    border-color: #f4511e transparent transparent #f4511e;
}
.ribbon .ribbon-text-after.ribbon-high-priority{
    border: 2em solid #f4511e;
    border-left-color: transparent;
}

.ribbon .ribbon-text-before.ribbon-medium-priority{
    border-color: #388e3c transparent transparent #388e3c;
}
.ribbon .ribbon-text-after.ribbon-medium-priority{
    border: 2em solid #388e3c;
    border-left-color: transparent;
}

.ribbon .ribbon-text-before.ribbon-low-priority{
    border-color: #ffeb3b transparent transparent #ffeb3b;
}
.ribbon .ribbon-text-after.ribbon-low-priority{
    border: 2em solid #ffeb3b;
    border-left-color: transparent;
}



.border-light-grey {
    border: 1px solid #dddddd !important;
}

@media screen and (max-width: 767px) {
    .display-block-xs{
        display: block;
    }
    .display-none-xs{
        display: none;
    }
    .padding-32-xs {
        padding: 32px !important;
    }
    .padding-12-xs {
        padding: 12px !important;
    }
    .padding-16-xs {
        padding: 16px !important;
    }
    .padding-bottom-16-xs {
        padding-bottom: 16px;
    }
    .padding-8-xs {
        padding: 8px !important;
    }
    .padding-4-xs {
        padding: 4px !important;
    }
    .padding-left-4-xs {
        padding-left: 4px !important;
    }
    .padding-left-8-xs {
        padding-left: 8px !important;
    }
    .padding-left-none-xs {
        padding-left: 0 !important;
    }
    .padding-right-4-xs {
        padding-right: 4px !important;
    }
    .padding-right-8-xs {
        padding-right: 8px !important;
    }
    .padding-right-none-xs {
        padding-right: 0 !important;
    }
    .padding-top-none-xs {
        padding-top: 0 !important;
    }
    .padding-top-4-xs {
        padding-top: 4px !important;
    }
    .padding-top-8-xs {
        padding-top: 8px !important;
    }
    .padding-bottom-8-xs {
        padding-bottom: 8px !important;
    }
    .padding-left-16-xs {
        padding-left: 16px !important;
    }
    .padding-right-16-xs {
        padding-right: 16px !important;
    }
    .padding-bottom-none-xs {
        padding-bottom: 0 !important;
    }
    .padding-left-12-xs {
        padding-left: 12px !important;
    }
    .padding-right-12-xs {
        padding-right: 12px !important;
    }
    .padding-left-20-xs {
        padding-left: 20px !important;
    }
    .padding-right-20-xs {
        padding-right: 20px !important;
    }
    .padding-left-24-xs {
        padding-left: 24px;
    }
    .padding-right-24-xs {
        padding-right: 24px;
    }
    .padding-24-xs {
        padding: 24px !important;
    }
    .padding-top-40-xs {
        padding-top: 40px !important;
    }
    .padding-left-40-xs {
        padding-left: 40px !important;
    }
    .padding-right-40-xs {
        padding-right: 40px !important;
    }
    .padding-top-20-xs {
        padding-top: 20px !important;
    }
    .padding-top-28-xs {
        padding-top: 28px !important;
    }
    .padding-left-28-xs {
        padding-left: 28px;
    }
    .padding-right-28-xs {
        padding-right: 28px;
    }
    .padding-left-32-xs {
        padding-left: 32px !important;
    }
    .padding-right-32-xs {
        padding-right: 32px !important;
    }
    .padding-bottom-40-xs {
        padding-bottom: 40px !important;
    }
    .padding-40-xs {
        padding: 40px !important;
    }
    .margin-top-none-xs {
        margin-top: 0px !important;
    }
    .margin-top-12-xs {
        margin-top: 12px !important;
    }
    .margin-top-20-xs {
        margin-top: 20px !important;
    }
    .margin-top-24-xs {
        margin-top: 24px;
    }
    .margin-left-12-xs {
        margin-left: 12px;
    }
    .margin-left-16-xs {
        margin-left: 16px !important;
    }
    .margin-left-24-xs {
        margin-left: 24px;
    }
    .margin-left-8-xs {
        margin-left: 8px;
    }
    .margin-top-4-xs {
        margin-top: 4px;
    }
    .margin-left-4-xs {
        margin-left: 4px;
    }
    .margin-right-4-xs {
        margin-right: 4px;
    }
    .margin-top-8-xs {
        margin-top: 8px !important;
    }
    .margin-right-8-xs {
        margin-right: 8px;
    }
    .margin-right-12-xs {
        margin-right: 12px;
    }
    .margin-right-24-xs {
        margin-right: 24px;
    }
    .margin-right-32-xs {
        margin-right: 32px;
    }
    .margin-bottom-12-xs {
        margin-bottom: 12px !important;
    }
    .margin-bottom-16-xs {
        margin-bottom: 16px !important;
    }
    .margin-right-32-xs {
        margin-right: 32px !important;
    }
    .margin-bottom-4-xs {
        margin-bottom: 4px !important;
    }
    .margin-bottom-8-xs {
        margin-bottom: 8px;
    }
    .margin-bottom-12-xs {
        margin-bottom: 12px !important;
    }
    .margin-bottom-20-xs {
        margin-bottom: 20px !important;
    }
    .margin-bottom-32-xs {
        margin-bottom: 32px;
    }
    .margin-bottom-24-xs {
        margin-bottom: 24px;
    }
    .margin-bottom-24-xs {
        margin-bottom: 24px;
    }
    .margin-left-auto-xs {
        margin-left: auto;
    }
    .margin-left-none-xs {
        margin-left: 0;
    }
    .margin-right-none-xs {
        margin-right: 0px !important;
    }
    .margin-none-xs {
        margin: 0 !important;
    }

    .font-8-xs {
        font: 8px !important;
    }
    .font-14-xs {
        font-size: 14px !important;
    }
    .font-16-xs {
        font-size: 16px !important;
    }
    .font-18-xs {
        font-size: 18px !important;
    }
    .font-20-xs {
        font-size: 20px !important;
    }
    .font-22-xs {
        font-size: 22px !important;
    }
    .font-38-xs {
        font-size: 38px !important;
    }
    .font-26-xs {
        font-size: 26px !important;
    }
    .font-30-xs {
        font-size: 30px !important;
    }
    .font-32-xs {
        font-size: 32px !important;
    }
}
